.bodySec1 img{
    width: 100%;
}
.bodySec2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec2Left h3{
    color: #504F4F;
    font-weight: 700;
    font-size: 36px;
    width: 30%;
    text-align: left;
} 
.sec2Left span{
    font-weight: 500;
    font-size: 32px;
    color: #504F4F;
}
.sec2Left p{
    font-weight: 500;
    font-size: 20px;
    color: #504F4F; 
    width: 40%;
    text-align: left;
}
.sec2Left h4{
    text-align: left;
    background-color: #27489E;
    color: white;
    border-radius: 25px;
    width: max-content;
    padding: 10px;
}
.sec2Right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vectorIcon{
    margin-top: 30px;
}
.sec2Right img{
    position: relative;
    z-index: 1;
    margin-top: -250px;
    right: 60px;
}
.product{
    display: flex;
    flex-direction: column;
}
.productHeading h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #504F4F;
}
.productHeading h4{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #504F4F;
}
.mobileph{
    display: none;
}
.productcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
    background: #D9D9D9;

}
.filter{
    display: none;
}
.catSection{
    display: none;
}
.vec{
    display: none;
}

@media screen and (max-width:600px) {
    .bodySec1{
        display: none;
    }
    .bodySec2{
        display: flex;
        flex-direction: column;
        background-color: rgba(90, 88, 88, 0.148);
    }
    .vecHolder{
        display: flex;
        width: 100%;
        justify-content: right;
    }
    .vec{
        display: flex;
        flex-direction: row;
        border-radius: 100px;
        background-color: white;
        width: 40px;
        height: 34px;
        justify-self: right;
        align-self: end;
        margin-top: 20px;
        padding: 10px;
        margin-right: 10px;
    }
    .sec2Right{
        display: none;
    }
    .sec2Left p{
        display: none;
    }
    .sec2Left h3{
        width: 70%;
        padding: 0 20px 0 20px;
    }
    .sec2Left h4{
        display: none;
    }
    .productHeading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(90, 88, 88, 0.148);
        padding: 0 20px 0 20px;
    }
    .productcard{
        padding: 0 20px 0 20px;
    }
    .productHeading h3{
        font-weight: 500;
        font-size: 24px;
    }
    .productHeading h4{
        display: none;
    }
    .mobileph{
        display: block;
        font-weight: 400;
        font-size: 14px;
    }
    .productcard{
        display: flex;
        flex-direction: row;
        gap: 50px;
        flex-wrap: nowrap;
        overflow: scroll;
        justify-content: left;
        padding-bottom: 0px;
        background-color: rgba(90, 88, 88, 0.148);
    }
    .productcard::-webkit-scrollbar{
        display: none;
    }
    .catSection{
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }
    .catHeading{
        display: flex;
        justify-content: space-between;
    }
    .categories{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: scroll;
        gap: 9px;
        background-color: rgba(90, 88, 88, 0.148);
        padding: 0 20px 30px 20px;
    }
    .categories::-webkit-scrollbar{
        display: none;
    }
    figure{
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 18px;
    }
    figure img{
        width: 97px;
        height: 167px;
        border-radius: 20px;
    }
    figcaption{
        font-weight: 400;
        font-size: 14px;
    }
    .filter{
        display: flex;
        align-items: center;
        gap: 9px;
        background-color: rgba(90, 88, 88, 0.148);
        padding: 0 5px 0 10px;
        padding-top: 10px;
        justify-content: space-around;
    }
    .filter input{
        width: 259px;
        height: 64px;
        border-radius: 22px;
        background-color: #F8F8F8;
        border: none;
        padding-left: 50px;
        background-image: url("../img/search.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 20px;
        background-position-x: 20px;
    }
    .filter input::placeholder{
        opacity: 1;
        font-weight: 400;
        color: #504F4F;
        font-size: 14px;
    }
    .vec2{
        background-color:#27489E;
        width: 24px;
        height: 28px;
        border-radius: 15px;
        padding: 10px 25px 15px 25px;
    }
    .dets{
        display: none;
    }
}