@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(90, 88, 88, 0.148);
}
  
.bodySec1 img{
    width: 100%;
}
.bodySec2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec2Left{
    background-color: rgb(0, 0, 0,0.6);
    position: relative;
    z-index: 1;
    margin-top: -381px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sec2Left h3{
    color: white;
    font-weight: 700;
    font-size: 36px;
    width: 100%;
} 
.sec2Left span{
    font-weight: 500;
    font-size: 32px;
    color: white;
    margin-left: 30px;
}
.sec2Left p{
    font-weight: 500;
    font-size: 20px;
    color: white; 
    width: 40%;
    text-align: center;
}
.call2action{
    text-align: left;
    background-color: #27489E;
    color: white;
    border-radius: 10px;
    width: max-content;
    padding: 10px 100px 10px 100px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}
.vectorIcon{
    margin-top: 30px;
}
.sec2Right img{
    position: relative;
    z-index: 1;
    margin-top: -250px;
    right: 60px;
}
.product{
    display: flex;
    flex-direction: column;
}
.productHeading h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #504F4F;
}
.productHeading h4{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #504F4F;
    margin-top: 0;
    padding-top: 0;
}
.productHeading {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.productHeading h2{
    align-self: center;
}
.productHeading h4{
    width: 30%;
    display: flex;
    align-self: center;
}
.mobileph{
    display: none;
}
.productcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
    background: #D9D9D9;
    margin-bottom: 0;
    padding-bottom: 20px;

}
.vec{
    display: none;
}
.cat{    
    display: flex;
    justify-content: center;
    gap: 50px;
}
.cattype{
    font-weight: 700;
    font-size: 24px;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.kcat{
    margin-bottom: 50px;
}


@media screen and (max-width:600px) {
    .bodySec1{
        display: flex;
        flex-direction: column-reverse;
    }
    .bodySec1 img{
        height: 200px;
        
    }
    .bodySec2{
        display: flex;
        flex-direction: column;
    }
    .sec2Left{
        margin-top: 0;
        background-color: white;
        color: #504F4F;
    }
    .vecHolder{
        display: flex;
        width: 100%;
        justify-content: right;
    }
    .vec{
        display: flex;
        flex-direction: row;
        border-radius: 100px;
        background-color: white;
        width: 40px;
        height: 34px;
        justify-self: right;
        align-self: end;
        margin-top: 20px;
        padding: 10px;
        margin-right: 10px;
    }
    .sec2Right{
        display: none;
    }
    .sec2Left p{
        color: #504F4F;
        width: 100%;
        text-align: left;
        margin-left: 7px;
        font-weight: 500;
    }
    .sec2Left h3{
        width: 100%;
        color: #504F4F;
        text-align: left;
        margin-left: 7px;
    }
    .sec2Left span{
        color: #504F4F;
        text-align: left;
        width: 100%;
        display: flex;
        margin-left: 0px;
    }
    .call2action{
        width: 60%;
        border-radius: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10px 15px 10px 15px;
    }
    .productHeading{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
            /* padding: 0 10px 0 10px; */
    }
    .productHeading h4{
        display: flex;
        width: max-content;
        text-align: center;
        align-self: center;
        justify-self: center;
    }
    .productcard{
        padding: 0 20px 0 20px;
        background: transparent;
    }
    .productHeading h3{
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .mobileph{
        display: block;
        font-weight: 400;
        font-size: 14px;
    }
    .productcard{
        display: flex;
        flex-direction: row;
        gap: 50px;
        flex-wrap: nowrap;
        overflow: scroll;
        justify-content: left;
        padding-bottom: 0px;
    }
    .productcard::-webkit-scrollbar{
        display: none;
    }
    .catSection{
        display: flex;
        flex-direction: column;
    }
    .catHeading{
        display: flex;
        justify-content: space-between;
    }
    .catHeading h4{
        width: 100%;
    }
    .categories{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: scroll;
        gap: 9px;
        padding: 0 20px 30px 20px;
    }
    .categories::-webkit-scrollbar{
        display: none;
    }
    figure{
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 18px;
    }
    figure img{
        width: 97px;
        height: 167px;
        border-radius: 20px;
    }
    figcaption{
        font-weight: 400;
        font-size: 14px;
    }
    .vec2{
        background-color:#27489E;
        width: 24px;
        height: 28px;
        border-radius: 15px;
        padding: 10px 25px 15px 25px;
    }
    .dets{
        display: none;
    }
    .cat{
        justify-content: space-between;
        overflow: scroll;
        padding: 0 20px 30px 0px;
        margin-left: 20px;
    }
    .cat::-webkit-scrollbar{
        display: none;
    }
}