.detailnav{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    background-color: rgba(90, 88, 88, 0.148);
}
.detailvector{
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 100px;
    width: 40px;
    height: 34px;
    margin-right: 10px;
}