.navbarMain{
    background-color: #22374A;
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100vw;
}
.leftSec{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 20px;
}
.leftSec img{
    width: auto;
    height: 40px;
}
.middleSec{
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: 500;
    font-size: 20px;
}
.middleSec p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.rightSec{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    background-color: #27489E;
    margin: 5px 0 5px 0;
    padding: 0 50px 0 50px;
    border-radius: 25px;
}
.li{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.hamburger{
    display: none;
}
.dropDown{
    display: none;
    position: relative;
    flex-direction: column;
    background-color: white;
    color: black;
    margin-left: -200px;
    margin-bottom: -200px;
    z-index: 2;
    padding: 0 20px 0;
}
.dropDown img{
    width: 15px;
    height: 15px;
    margin-left: 60px;
    margin-top: 10px;
}
.li2{
    color: black;
    text-decoration: none;
}

@media screen and (max-width:600px) {
    .navbarMain{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 90px;
    }
    .hamburger{
        display: flex;
        width: auto;
        height: 40px;
    }
    .icons{
        display: flex;
        gap: 20px;
        margin-right: 10px;
    }
    .leftSec p{
        font-weight: 400;
        font-size: 16px;
    }
    .dropDown{
        display: block;
    }
    /* .dropDown{
        display: block;
        position: absolute;
        padding: 0 20px 0;
        position: relative;
        right: 255px;
        top: 90px;
        z-index: 2;
    } */
    /* .icons{
        display: flex;
        gap: 30px;
        margin-right: 50px;
    }
    .dropDown{
        display: block;
        padding: 0 20px 0;
        position: relative;
        right: 255px;
        top: 90px;
        z-index: 1;
    }
    .hamburger{
        display: flex;
        width: auto;
        height: 40px;
    }
    .leftSec img{
        height: 30px;
    }
    .leftSec p{
        width: max-content;
        font-size: 16px;
    } */
    .middleSec{
        display: none;
    }
}