.navbarMain2{
    background-color: #22374A;
    display: flex;
    justify-content: space-around;
    color: white;
    width: 100%;
}
.leftSec2{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 20px;
}
.leftSec2 img{
    width: auto;
    height: 40px;
}
.middleSec2{
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: 500;
    font-size: 20px;
}
.middleSec2 p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.rightSec2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    background-color: #27489E;
    margin: 5px 0 5px 0;
    padding: 0 50px 0 50px;
    border-radius: 25px;
}
.li2{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

@media screen and (max-width:600px) {
    .navbarMain2{
        width: 100%;
        justify-content: space-between;
        display: none;
    }
    .leftSec2{
        position: relative;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .leftSec2 p{
        width: max-content;
    }
    .leftSec2 img{
        height: 30px;
    }
    .middleSec2{
        margin-top: 40px;
        font-size: 10px;
        gap: 10px;
        width: max-content;
        align-self: center;
        justify-self: center;
    }
    .middleSec2 p{
        width: max-content;
    }
    .rightSec2{
        position: relative;
        padding: 0 20px 0px 20px;
        padding: 0;
        font-size: 10px;
        height: 30px;
        width: 300px; 
    }
}

@media screen and (max-width:600px) {
    .leftSec2 p{
        width: 100%;
        display: none;
    }
}